/* tre.css */
/* load via <link rel="stylesheet" href=path2file> */


/* css variables (can be overridden in html or other css files) */
:root {
    /* colors */
    --c_main: #a10000ff;
    --c_bg: #ffffffff;
    --c_h1: #000000ff;
    --c_h2: #000000ff;
    --c_h3: #000000ff;
    --c_h4: #000000ff;
    --c_body_text: #000000ff;
    --c_tabrow_bg: #9a9a9aff;
    --c_tabrow_hover: #c10000ff;
    --c_tabborder: #000000ff;
    --c_footnote_text: #444444ff;
    --c_footnote_box: #ffffffff;
    --c_footnote_boxshadow: #2b2b2bff;
    --c_blockquote_border: #c10000ff;
    --c_blockquote_bg: #5e5e5eff;
    --c_blockquote_text: #ffffffff;
    --c_link_text: #a10000ff;
    --c_link_visited: #c10000ff;
    --c_link_hover: #ff0000ff;
    --c_link_active: #ff0000ff;
    --c_list1_text: #000000ff;
    --c_list2_text: #000000ff;
    --c_caption_bg: #ffffffff;
    --c_caption_text: #000000ff;
    --c_comment_ls: #8d0000ff;
    --c_todo_ls: #ff9100ff;
    --c_bibcolor_ls: #780000ff;
    --c_code_bg: #d6d6d6ff;
    --c_code_constant: #569cd6ff;
    --c_code_comment: #6a9955ff;
    --c_code_string: #d16969ff;
    --c_code_numeric: #b5cea8ff;
    --c_code_keyword: #569cd6ff;
    --c_poster_sectnode: #4d4d4dff;
    --c_poster_mainnode: #a10000ff;
    /* text styling */
}

/* ################################################################## */
/* GLOBAL DEFAULTS */
html, body {
    background-color: var(--c_bg);
    color: var(--c_body_text);
}

/* ################################################################## */
/* HEADERS */
h1 {
    color: var(--c_h1);
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    color: var(--c_h2);
    font-size: 1.3rem;
    font-weight: bold
}
h3 {
    color: var(--c_h3);
    font-size: 1.1rem;
    font-weight: bold
}
h4 {
    color: var(--c_h4);
    font-size: 1.0rem;
    font-weight: bold
}

/* ################################################################## */
/* FLOATS */
/* tables */
table {
    display: inline-block;
    overflow: hidden;
    counter-increment: tab;
    width: 100%;
    table-layout: auto;
}
table :is(th, tr:nth-child(even)) {			/*style all elements in `:is` (th...table header; tr:nth-child(even)...even table rows*/
    background-color: var(--c_bg);
    border: 1px solid var(--c_tabborder);
    padding: 0.3cqi;
}
table tbody tr:nth-child(odd) {				/*odd table rows*/
    background-color: var(--c_tabrow_bg);
}
table tbody tr:hover td {					/*highlight on hover*/
    background: var(--c_tabrow_hover);
}
table td {
    width: 1%;  /* tiny minimum width => browser tries to expand regardless of content*/
}
table caption {
    width: 100%;
    display: block;
    text-align: left;
}
table caption::before {
    content: "Table " counter(tab) ": ";
    font-weight: bold;
}
table tfoot > tr > td {
    border-top: 1px solid;
}
table tfoot > tr > td::before {
    content: "Notes: ";
    font-weight: bold;
}

/* figures */
figure {
    display: inline-block;
    overflow: hidden;
    counter-increment: fig;
}
figure img {
    width: 100%;    /* because always wrapped in figure */
    height: auto;
    display: block;    
    margin: 0 auto;
}
figure figcaption {
    width: 100%;
    display: block;
    text-align: left;
}
figure figcaption::before{
    content: "Figure " counter(fig) ": ";
    font-weight: bold;
}

/* ################################################################## */
/* other buliding blocks */
span.footnote {
    color: var(--c_footnote_text);
    font-size: 0.8rem;
    position: relative;
    cursor: pointer;
    vertical-align: super;
    counter-increment: footnotes;
}
span.footnote::before {
    content: counter(footnotes)" ";
    vertical-align: super;
    font-size: 0.8rem;
}
span.footnote::after {
    content: attr(data-note);
    position: absolute;
    width: max-content;
    max-width: 15rem;
    background-color: var(--c_footnote_box);
    border-radius: 4px;
    box-shadow: 0 2px 6px var(--c_footnote_boxshadow);
    opacity: 0;
    pointer-events: none;
    transform: translateY(0.5rem);
    transition: opacity 0.15s ease, transform 0.15s ease;    
    z-index: 10;
    white-space: normal;

}
span.footnote:hover::after {
    opacity: 1;
    transform: translateY(0);
}

blockquote {
    display: inline-block;
    overflow: hidden;
    font-size: 1.2rem;
    text-align: left;
    width: 95%;
    color: var(--c_blockquote_text);
    margin-left: 0.5rem;    
    border-left: 0.5rem var(--c_blockquote_border) solid;
    background-color: var(--c_blockquote_bg);
}

/* ################################################################## */
/* CROSSREFERENCES */
a:link {
    color: var(--c_link_text);
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: var(--c_link_visited);
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: var(--c_link_hover);
    background-color: transparent;
    text-decoration: underline;
    font-style: italic;
}

a:active {
    color: var(--c_link_active);
    background-color: transparent;
    text-decoration: underline;
    font-style: italic;
}

/* ################################################################## */
/* LISTS */

/* ---------------------------------------- */
/* bullet lists */
ul {
    font-size: 1rem;
    color: var(--c_list1_text);
}

/* custom bullet (red button? */
/* ul > li:before {	
    content: "🍪 ";
} */

ul ul {
    font-size: 1rem;
    color: var(--c_list2_text);
}

/* ---------------------------------------- */
/* ordered lists */
/* top level */
ol {
    counter-reset: item;
    list-style: none;
    padding-left: 1.5rem;
}
ol > li {
    counter-increment: item;
    color: var(--c_list1_text);
}
ol > li::before{
    content: counters(item, ".") ". ";
}
li > ol {   /* reset counter when new nested element starts */
    counter-reset: item;
}

ol ol {
    font-size: rem;
    color: var(--c_list2_text);
}
/* ################################################################## */
/* ITERATION COMMANDS */
span.commentLS {
    color: var(--c_comment_ls);
    text-decoration: underline;
    text-decoration-style: wavy;
    font-style: italic;
}

span.commentLS::after {
    content: " [" attr(data-comment) "]";
    text-decoration: none;
}

span.todoLS {
    color: var(--c_todo_ls);
    font-style: italic;
}

span.todoLS::before {
    content: "[TODO: ";
}

span.todoLS::after {
    content: "]";
}

/* ################################################################## */
/* LAYOUTING */
/* n column layout */
.columns {
    display: flex;
    gap: 5%;
    width: 100%;
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* outline: 10px solid rgba(0, 0, 0, 0); */
}

/* row layout */
.rows {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3%;
    /* outline: 1px solid rgb(255, 0, 0, 0); */
}

